<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
<typeAlias type="com.isaac.Products" alias="product"/>
<typeAlias type="com.isaac.Category" alias="category"/>
<typeAlias type="com.isaac.Subcategory" alias="subcategory"/>

</typeAliases>
<environments default="development">
<environment id="development">
<transactionManager type="JDBC"/>
<dataSource type="POOLED">
<property name="driver" value="com.mysql.jdbc.Driver"/>
<property name="url" value="jdbc:mysql://localhost:3306/springproducts?useSSL=false"/>
<property name="username" value="root"/>
<property name="password" value="Isaacokeyo@12"/>
</dataSource>
</environment>
</environments>
<mappers>
<mapper resource="com/isaac/ProductMapper.xml" />
<mapper resource="com/isaac/CategoryMapper.xml" />
<mapper resource="com/isaac/SubcategoryMapper.xml" />
</mappers>
</configuration>